<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
{% if content %}
  <div {{ attributes.addClass('one-column') }}>
    {% if content.main %}
      <div {{ region_attributes.main.addClass('main-region') }}>
        {{ content.main }}
      </div>
    {% endif %}
    {% if content.sidebar %}
      <div {{ region_attributes.sidebar.addClass('sidebar-region') }}>
        {{ content.sidebar }}
      </div>
    {% endif %}
  </div>
{% endif %}
